<launch>
  <!-- load parameter file -->
  <rosparam file="$(find turtlebot_traj_ctrl)/config/PID_params.yaml" command="load"/>
  <rosparam param="/use_sim_time">true</rosparam>
 
  <node name="plotjuggler_with_layout" 
          pkg="plotjuggler"
          type="plotjuggler"
          args="--layout $(find turtlebot_traj_ctrl)/config/plotJug.xml --buffer_size 7 --nosplash"
          required="true"
  /> 
    
</launch>

