<launch>
  <!-- load parameter file -->
  <rosparam file="$(find homework_3)/config/simulator_params.yaml" command="load"/>
  <rosparam param="/use_sim_time">true</rosparam>
  <remap from="/lookahead_cmd" to="/tb_cmd"/>
  <node pkg="homework_3" type="robot_simulator_node" name="tb_simulator" output="screen"/>
   <node pkg="homework_3" type="lookahead_controller_node" name="la" output="screen" />
  
  <!-- <node pkg="homework_3" type="trajectory_generator_node" name="trajectory" output="screen" /> -->
</launch>
